<h2 class="title">Piškvorky 20x20</h2>

<p class="turn">Na rade: X</p>

{% if winner %}
    <h2 class="winner">Vyhral: {{ winner }}</h2>
{% endif %}

<div class="board">
    {% for row in board %}
        <div class="row">
            {% for cell in row %}

                {% if cell == "X" %}
                    <div class="cell x">X</div>

                {% elif cell == "O" %}
                    <div class="cell o {% if last_ai_move and forloop.parentloop.counter0 == last_ai_move.0 and forloop.counter0 == last_ai_move.1 %}ai-move{% endif %}">
                        O
                    </div>

                {% else %}
                    <a href="/move/{{forloop.parentloop.counter0}}/{{forloop.counter0}}/"
                       class="cell empty"></a>
                {% endif %}

            {% endfor %}
        </div>
    {% endfor %}
</div>

<a href="{% url 'reset' %}">
    <button>Restart game</button>
</a>

<style>

body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

/* BOARD */
.board {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 20px auto;
}

/* ROW */
.row {
    display: flex;
    justify-content: center;
    gap: 3px;
}

/* CELL */
.cell {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.15s;
}

/* empty */
.cell.empty {
    background: #1e293b;
}

.cell.empty:hover {
    background: #334155;
    transform: scale(1.1);
}

/* X */
.cell.x {
    background: #ef4444;
    animation: pop 0.2s ease-in-out;
}

/* O */
.cell.o {
    background: #3b82f6;
    animation: pop 0.2s ease-in-out;
}

/* AI MOVE HIGHLIGHT */
.cell.ai-move {
    background: orange !important;
    animation: flash 0.5s ease-out;
}

/* animations */
@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes flash {
    0% {
        transform: scale(1.4);
        box-shadow: 0 0 15px orange;
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

.winner {
    color: #22c55e;
}

</style>