<h2 class="title">Piškvorky 20x20</h2>

<p class="turn">Na rade: {{ turn }}</p>

{% if winner %}
    <h2 class="winner">Vyhral: {{ winner }}</h2>
{% endif %}

<div class="board">
    {% for row in board %}
        {% for cell in row %}

            {% if cell %}
                <div class="cell {{ cell|lower }}">
                    {{ cell }}
                </div>
            {% else %}
                <a class="cell empty"
                   href="{% url 'move' forloop.parentloop.counter0 forloop.counter0 %}">
                </a>
            {% endif %}

        {% endfor %}
    {% endfor %}
</div>